@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 10px;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	width: 0;
}

h1 {
	color: rgba(0, 0, 0, 0.7);
}

h3 {
	font-weight: 500;
	font-size: 16px;
}

h3 #tags {
	color: #0e29c0;
	text-transform: uppercase;
}
.quote-box {
	width: 520px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 30px 20px 30px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	/* display: none; */
}

.quote-box .quote-text {
	margin: 10px 0;
}

.quote-box .buttons {
	width: 100%;
	justify-content: space-evenly;
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.quote-box .quote-author #author {
	font-size: 16px;
	align-self: flex-start;
}

.quote-box .quote-text #text {
	text-align: center;
	color: rgba(0, 0, 0, 0.9);
}

.quote-box .buttons #new-quote {
	border: 1px solid rgba(0, 0, 0, 0.1);
	outline: none;
	/* background-color: rgb(23, 64, 248); */
	background-color: rgba(0, 0, 0, 0.8);

	padding: 7px 15px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-weight: 500;
}
.quote-box .buttons #new-quote:hover {
	background-color: rgba(0, 0, 0, 0.75);
}
.quote-box .bookmark {
	font-size: 35px;
	color: #0e29c0;
	align-self: flex-end;
	cursor: pointer;
}
.buttons #copyQuote i,
.buttons #theme i,
.buttons #favorites i,
.buttons .bxs-quote-left,
.buttons .bxs-quote-right,
.buttons .bx-trash {
	font-size: 22px;
	cursor: pointer;
}

.buttons span {
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	padding: 3px 5px;
}
.fa-sun {
	font-size: 30px;
	color: black;
}

/* FAVORITE CONTAINER */
.favorite_quotes_container {
	width: 520px;
	/* height: 320px; */
	/* background-color: royalblue; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px 30px;
	overflow-y: scroll;
	border-radius: 10px;
	display: none;
}

.card {
	width: 100%;
	height: auto;
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 20px 30px;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}

.favorite_quotes_container .card h3 {
	text-align: center;
	margin-bottom: 20px;
}
.favorite_quotes_container .card .quote-text #text {
	text-align: center;
	color: rgba(22, 6, 6, 0.89);
}
.favorite_quotes_container .card .quote-author #author {
	text-align: center;
	color: rgba(41, 4, 173, 0.89);
	font-size: 14px;
}
.favorite_quotes_container .card .buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
}

.favorite_quotes_container::-webkit-scrollbar {
	width: 0px;
}

.navigator {
	position: fixed;
	top: 50%;
	right: 10px;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: dimgray;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	display: none;
}
#info{
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 20px;
	cursor: pointer;
}
@media (max-width: 320px) {
	.quote-box {
		width: 520px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0px 4px 12px rgb(0 0 0 / 30%);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 10px 20px 20px 20px;
		border-radius: 10px;
		position: relative;
		overflow: hidden;
		/* display: none; */
	}
	h1 {
		color: rgba(0, 0, 0, 0.7);
		text-align: center;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.quote-box .quote-text {
		margin: 10px 0;
		text-align: center;
	}
	.favorite_quotes_container .card h3 {
		text-align: center;
		margin-bottom: 20px;
		font-size: 14px;
	}
	.quote-box .buttons #new-quote {
		border: 1px solid rgba(0, 0, 0, 0.1);
		outline: none;
		/* background-color: rgb(23, 64, 248); */
		background-color: rgba(0, 0, 0, 0.8);
		padding: 7px 8px;
		border-radius: 5px;
		color: #fff;
		cursor: pointer;
		font-weight: 500;
	}
}
